<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>Users</h1>
<button onclick="window.location.href = '/new';">Add new user</button>
<br>
<br>
<table border="1">
    <tr>
        <th th:width="50">UserId</th>
        <th th:width="120">Name</th>
        <th th:width="120">LastName</th>
        <th th:width="150">Email</th>
        <th th:width="50">Edit</th>
        <th th:width="50">Delete</th>
    </tr>
    <tr th:each="user : ${users}">

        <td><a th:href="@{'/' + ${user.id}}" th:utext="${user.id}">Id</a></td>
        <td th:utext="${user.name}">Name</td>
        <td th:utext="${user.age}">Age</td>
        <td th:utext="${user.email}">Email</td>
        <td>
            <form th:action="@{'edit/' + ${user.id}}">
                <input type="submit" class="buttonEdit" value="Edit"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{'delete/' + ${user.id}}">
                <input type="submit" class="buttonDelete" value="Delete"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>